*{
	padding: 0;
	margin: 0;

}
a{
	text-decoration: none;
	color:black;
}

body{
	background: none;
}

/*标题导航栏*/

.head_wrapper{
	position: fixed;
	border-bottom: 2px solid red;
	height: 50px;
	width:100%;
	overflow: hidden;
	background: white;
	z-index: +10;
}

.index_logo{
	position: absolute;
	height:60px;
	width:500px;
	z-index: +11;
}


.head_logo img{
	position: absolute;
	left:80px;
	top:6px;

}

.head_title{
	position: absolute;
	left:220px;
	top:20px;
	border-left:1px solid black;
	font-size: 16px;
	padding: 2px;
	padding-left: 22px;

}
.head_title:hover{
	color:blue;
}

.head_bar{
	position: absolute;
	top:-3px;
	left:66%;
	height: 60px;	
	font-size: 14px;
	text-align: center;
	line-height: 60px;
	
}
.head_bar a:hover{
	color: blue;
}

.head_bar a{
		width:100px;
	height: 20px;
	margin-left: 20px;
}


/*监测系统*/

#jcxt{
	position: absolute;
	top: 50px;
	width: 100%;
	height:1239px;
}

.jcxt_banner{
	position: absolute;
	top:2px;
	width: 100%;
	height: 626px;
	background: rgba(0,255,0,0.3);
}


.wx_ewm {
	position:absolute;
	top:418px;
	left:238px;
	border:1.2px solid white;
	width:124px;
	height:124px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	z-index: 0;
}

.wx_ewm img{
	border-radius: 10px;
}

.wx_cx{
	position: absolute;
	top:545px;
	left:253px;
}

.form_login{
	position:absolute;
	top:80px;
	left:110px;
	border:2px dashed red;
	width:380px;
	height:320px;
	border-radius: 16px;
	padding: 22px;
	color:black;
	
}

form p{
	text-align: center;
	
}

.form_login span{
	font-size: 11px;
	line-height: 20px;
	text-align: center;

}

.reg_school,
.reg_hospital{
	position: absolute;
	top:355px;
	left:712px;
	background-color: yellow;
	border: 1.5px solid white;
	width: 166px;
	height: 66px;
	border-radius: 12px;
	text-align: center;
	font-size: 15px;
	padding: 5px;
	line-height: 26px;

}
.reg_school a:hover,
.reg_hospital a:hover{
	color:blue;
}

.reg_hospital{
	left: 950px;
}

.b_font{
	position: absolute;
	top:68px;
	left:560px;
}

.b_font2{
	position: absolute;
	top:422px;
	left:850px;
}


.outside_html{
	position: absolute;
	top:628px;
	background: rgba(0,255,0,0.15);
	width: 100%;
	height:612px;
}

.index_notice{
	position: absolute;
	top:18px;
	left:120px;
	width: 80%;
	height:33px;
	border: 1px solid green;
	border-radius: 20px;
	line-height: 33px;
	font-size: 14px;
	color: black;
	text-align: center;
}

/*帮助窗口*/
.index_convention{
	position: absolute;
	top:18px;
	width: 100%;
	height: 195px;
}

.con_one,
.con_two,
.con_three,
.con_four{
	border: 10px ridge rgba(0,255,0,0.6);
	width: 238px;
	height:120px;
	position: absolute;
	top:52px;
	margin-left: 82px;
	border-radius:20px;
	background: rgba(0,255,0,0.3);
	text-align: center;

}
.con_two{
	left:320px;
}
.con_three{
	left:640px;
}
.con_four{
	left:960px;
}

.con_one span,
.con_two span,
.con_three span,
.con_four span{
	line-height: 20px;
}


/*help*/
.help{
	position: absolute;
	right: 15px;
	bottom: 10px;
	border: 0.6px solid rgba(0,255,0,0.8);
	padding-top: 3px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 6px;

}

.index_convention .help:hover{
	background: yellow;
}

.aykt_html,
.aym_html{
	position:absolute;
	top:282px;
	left:182px;
	width:466px;
	height:262px;
	
}
.aym_html{
	left: 726px;
}

.aykt_html img,
.aym_html img{
	position: absolute;
	top:66px;
}

.aykt_html div img,
.aym_html div img{
	position: absolute;
	top: 0px;
	left: 160px;
	border-left: 1px solid green;
	border-radius: 50px;
	width: 280px;
	height: 220px;

}

.aykt_html span,
.aym_html span{
	position: absolute;
	top:128px;
	left: 50px;
	color: green;

}



/*联系我们*/
#lxwm{
	position: absolute;
	top:1290px;
	width: 100%;
	height:200px;
	border-top:1px solid red;
	
}

.slogan{
	position: absolute;
	top:10px;
	left: 50px;
	width: 500px;
	height: 166px;
}

.slogan_1,
.slogan_2,
.slogan_3,
.slogan_4,
.slogan_5{
	position: absolute;
	top:30px;
	left: 20px;
	width: 260px;
}
.slogan_2{
	top: 60px;
	left: 60px;
}
.slogan_3{
	top:90px;
	left: 100px;
}
.slogan_4{
	top:120px;
	left: 140px;
}
.slogan_5{
	top:120px;
	left: 260px;
}


.lx_pr{
	position:absolute;
	top:20px;
	left:500px;
	border-left: 1px dashed green;
	border-right: 1px dashed green;
	width: 380px;
	height: 150px;
	text-align: center;
	line-height: 20px;
}

.pr2618{
	width: 100px;
	border-radius: 5px;
}

.team{
	position: absolute;
	top:60px;
	left: 888px;
	width: 420px;
	height: 100px;
	text-align: center;
	line-height: 22px;
}


/*点击弹窗*/

.white_content { 
    display: none; 
    position: fixed; 
    top: 22%; 
    left: 22%; 
    width: 55%; 
    height: 55%; 
    padding: 20px; 
    border: 2px solid orange; 
    border-radius: 10px;
    background-color: #98fb98; 
    z-index:1002; 
    overflow: auto; 
} 
.white_content a{
	position: absolute;
	top:2%;
	left: 95%;

}


.company_1,
.company_2,
.company_3,
.company_4{
	position: absolute;
	top:58px;
	left: 20px;
	width: 160px;
	height: 220px;
	border-radius: 5px;
}

.company_2{left: 200px;}
.company_3{left: 380px;}
.company_4{left: 560px;}


.white_content .ewm{
	position: absolute;
	top:5%;
	left: 28%;
}

.white_content .ewm2618{
	position: absolute;
	top: 150px;
	left: 39%;
	width: 168px;
	border-radius: 5px;
}

.business_logo1,
.business_logo2{
	position: absolute;
	top:120px;
}
.business_logo2{left: 380px;}

.business_after1,
.business_after2{
	position: absolute;
	top:180px;
	left: 68px;
	color: green;
}
.business_after2{left: 430px;}

.business_1,
.business_2{
	position: absolute;
	top:60px;
	left: 150px;
	width: 220px;
	height:220px;
	padding: 20px;
	color: black;
}
.business_1{border-right: 1px dashed green}
.business_2{left: 510px;top:80px;}









