<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<!-- main JS libs -->
<script src="../static/vanilla-cream-css/js/libs/modernizr.min.js"
        th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
<script src="../static/vanilla-cream-css/js/libs/jquery-1.10.0.js"
        th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
<script src="../static/vanilla-cream-css/js/libs/jquery-ui.min.js"
        th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
<script src="../static/vanilla-cream-css/js/libs/bootstrap.min.js"
        th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

<!-- Style CSS -->
<link rel="stylesheet" href="../static/vanilla-cream-css/css/bootstrap.css"
      th:href="@{/vanilla-cream-css/css/bootstrap.css}"/>
<link rel="stylesheet" href="../static/vanilla-cream-css/style.css" th:href="@{/vanilla-cream-css/style.css}"/>
<!-- scripts -->
<script src="../static/vanilla-cream-css/js/general.js" th:src="@{/vanilla-cream-css/js/general.js}"></script>


<th:block th:include="common/header :: head"></th:block>
<head>
    <meta charset="UTF-8">
    <title>爱眼课堂</title>
</head>
<h1 style="text-align:center">爱眼课堂</h1>
<div style="text-align: right;margin-right: 100">
<a th:href="@{/logout}" style="text-align: right;  text-decoration: underline;" th:text="${name}"></a>
</div>
<body style="background-image: none;">
<form th:action="@{/query}" method="post">

    <div class="body_wrap">
        <div class="container">
            <table class="table table-striped table-bordered">
                <tr>
                    <th rowspan="5">
                        <img src="https://raw.githubusercontent.com/mivanzhang/mivanzhang.github.io/master/_posts/image/index_qr_code.jpeg" alt="爱眼课堂" width="300"
                             height="300">
                    </th>
                    <th>
                        <span id="basic-addon1">学校名称</span>
                    </th>
                    <th>
                        <input id="school_name" name="schoolName" type="text" placeholder="学校名称"
                               aria-describedby="basic-addon1"/>
                    </th>
                </tr>

                <tr>
                    <th>
                        <span id="basic-addon2">学号</span>
                    </th>
                    <th>
                        <input id="studentNo" name="studentNo" type="text" placeholder="学号"
                               aria-describedby="basic-addon2"/>
                    </th>
                </tr>

                <tr>
                    <th>
                        <span id="basic-addon3">出生日期</span>
                    </th>
                    <th>
                        <input id="birethday" name="birethday" type="text" placeholder="20080129"/>
                    </th>
                </tr>


                <tr>
                    <th>
                        <span id="basic-addon2">姓名</span>
                    </th>
                    <th>
                        <input id="name" name="name" type="text" placeholder="姓名" aria-describedby="basic-addon2"
                               required/>
                    </th>
                </tr>

                <tr>
                    <th colspan="2">
                        <button type="submit" style="width:190px;">开始查询</button>
                        <p>注：正确输入【姓名】+【前三项任意一项】即可</p>
                    </th>
                </tr>

                <tr>
                    <th>
                        <h3><a th:href="@{/user_login}">用户登陆</a></h3>
                    </th>
                    <th>
                        <h3><a th:href="@{/school_register}">学校注册</a></h3>
                    </th>
                    <th>
                        <h3><a th:href="@{/hospital_register}">验光师注册</a></h3>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</form>
</body>
</html>
