<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/header :: head"></th:block>
<head>
    <meta charset="UTF-8">
    <title>编辑学生</title>
</head>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script src="../../static/vanilla-cream-css/js/libs/modernizr.min.js"
        th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
<script src="../../static/vanilla-cream-css/js/libs/jquery-1.10.0.js"
        th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
<script src="../../static/vanilla-cream-css/js/libs/jquery-ui.min.js"
        th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
<script src="../../static/vanilla-cream-css/js/libs/bootstrap.min.js"
        th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

<!-- Style CSS -->
<link rel="stylesheet" href="../../static/vanilla-cream-css/css/bootstrap.css"
      th:href="@{/vanilla-cream-css/css/bootstrap.css}"/>
<link rel="stylesheet" href="../../static/vanilla-cream-css/style.css" th:href="@{/vanilla-cream-css/style.css}"/>
<!-- scripts -->
<script src="../../static/vanilla-cream-css/js/general.js" th:src="@{/vanilla-cream-css/js/general.js}"></script>


<body style="background-image: none;text-align:center">
<h1 style="text-align:center">添加/编辑学生信息</h1>

<form th:action="@{/save_student}" method="post">
    <div class="body_wrap">
        <div class="container">
            <table class="table table-striped table-bordered">
                <tr>
                    <th id="basic-addon1">全称学校名</th>
                    <th>
                        <input id="schoolName" name="schoolName" th:value="${schoolName}" type="text"
                               placeholder="学校名全称(必填)"
                               aria-describedby="basic-addon2" readonly="readonly"/>
                    </th>
                </tr>
                <tr>
                    <th id="basic-addon2">年级</th>
                    <th>
                        <input name="gradeNum" th:value="${student.gradeNum}" type="text" placeholder="三年级"
                               aria-describedby="basic-addon2" required/>
                    </th>
                </tr>
                <tr>
                    <th id="basic-addon3">班级</th>
                    <th>
                        <input name="classNum" th:value="${student.classNum}" type="text" placeholder="一班(必填)"
                               aria-describedby="basic-addon2" required/>
                    </th>
                </tr>
                <tr>
                    <th id="basic-addon4">学号</th>
                    <th>
                        <input name="studentNo" th:value="${student.studentNo}" type="text" placeholder="学号(必填)"
                               aria-describedby="basic-addon2" required/>
                    </th>
                </tr>
                <tr>
                    <th id="basic-addon5">姓名</th>
                    <th>
                        <input name="name" th:value="${student.name}" type="text" placeholder="姓名(必填)"
                               aria-describedby="basic-addon2" required/>
                    </th>
                </tr>

                <tr>
                    <th id="basic-addon6">性别</th>
                    <th>
                        <input value="1" name="sex" th:checked="${student.sex}==true" type="radio"
                               aria-describedby="basic-addon2" checked="checked"/>男
                        <input th:checked="${student.sex} == false" type="radio" value="0"
                               name="sex" aria-describedby="basic-addon2"/>女
                    </th>
                </tr>
                <tr>
                    <th id="basic-addon7">生日</th>
                    <th>
                        <input id="birthDay" name="birthDay" th:value="${student.birthDay}" type="text"
                               placeholder="20010809"
                               aria-describedby="basic-addon2"/>
                    </th>
                </tr>
                <tr>
                    <th id="basic-addon8">身高</th>
                    <th>
                        <input id="height" name="height" th:value="${student.height}" type="text" placeholder="145"
                               aria-describedby="basic-addon2"/>cm
                    </th>
                </tr>
                <tr>
                    <th id="basic-addon9">体重</th>
                    <th>
                        <input id="weight" name="weight" th:value="${student.weight}" type="text" placeholder="35"
                               aria-describedby="basic-addon2"/>kg
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <button type="submit" style="width:190px;" name="action" value="login">确定</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</form>

</body>
</html>


