<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/header :: head"></th:block>
<head>
    <meta charset="UTF-8">
    <title>编辑学生</title>
</head>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<body>
<h2>查找验光师</h2>
<form th:action="@{/school_add_doctor}" method="post">
    <div>
        <span id="basic-addon3">手机号</span>
        <input name="managerPhoneNumber"  type="text" placeholder="手机号(选填)"
               aria-describedby="basic-addon2"/>
    </div>
    <br/>
    <div>
        <span id="basic-addon4">姓名</span>
        <input name="managerName"  type="text" placeholder="姓名(必填)"
               aria-describedby="basic-addon2" required/>
    </div>
    <br/>
    <button type="submit" style="width:190px;" name="action" value="login">确定</button>
</form>

</body>
</html>


