<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>资料审核</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
</head>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<body>
<form th:action="@{/finishInputSchool}" method="post" enctype="multipart/form-data">
    <div>
        <!--/*@thymesVar id="error" type=""*/-->
        <span id="basic-addon0">&nbsp;</span>
        <span style="font-size: 12px;color: red" th:text="${error}" aria-describedby="basic-addon0"></span>
        <br/>
    </div>
    <div>
        <span id="basic-addon1">学校名全称</span>
        <input id="school_name" name="schoolName" type="text" th:value="${schoolName}" aria-describedby="basic-addon1"
               required/>

    </div>
    <br/>
    <div>
        <span id="basic-addon2">管理员</span>
        <input id="mangerName" name="managerName" type="text" th:value="${managerName}" placeholder="张飞天"
               aria-describedby="basic-addon2" required/>
    </div>
    <div>
        <span id="basic-addon3">身份证照片</span>
        <input type="file" name="id_card"/><br/><br/>
    </div>
    <div>
        <span id="basic-addon4">学校证明函</span>
        <input type="file" name="prof"/><br/><br/>
        </button>
    </div>
    <br/>
    <div>
        <span id="basic-addon5">手机号</span>
        <input id="managerPhoneNumber" name="managerPhoneNumber" th:value="${managerPhoneNumber}" type="phone"
               placeholder="188888888888"
               aria-describedby="basic-addon2" required/>
    </div>
    <br/>
    <button type="submit" style="width:190px;" name="action" value="step2">提交审核（大约2-3个工作日）</button>

</form>
</body>
</html>