<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>学校注册</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
</head>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script src="../../static/vanilla-cream-css/js/libs/modernizr.min.js"
        th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
<script src="../../static/vanilla-cream-css/js/libs/jquery-1.10.0.js"
        th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
<script src="../../static/vanilla-cream-css/js/libs/jquery-ui.min.js"
        th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
<script src="../../static/vanilla-cream-css/js/libs/bootstrap.min.js"
        th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

<!-- Style CSS -->
<link rel="stylesheet" href="../../static/vanilla-cream-css/css/bootstrap.css"
      th:href="@{/vanilla-cream-css/css/bootstrap.css}"/>
<link rel="stylesheet" href="../../static/vanilla-cream-css/style.css" th:href="@{/vanilla-cream-css/style.css}"/>
<!-- scripts -->
<script src="../../static/vanilla-cream-css/js/general.js" th:src="@{/vanilla-cream-css/js/general.js}"></script>


<body style="background-image: none;text-align:center">

<h1 style="text-align:center">学校注册</h1>
<form th:action="@{/saveschool}" method="post">
    <div class="body_wrap">
        <div class="container">
            <table class="table table-striped table-bordered">

                <tr>
                    <th id="basic-addon1">学校名全称</th>
                    <th>
                        <input id="schoolName" name="schoolName" type="text" placeholder="清华第三附小"
                               th:value="${schoolName}"
                               required/>
                    </th>

                </tr>
                <br/>
                <tr>
                    <th id="basic-addon2">管理员</th>
                    <th>
                        <input id="mangerName" name="managerName" type="text" placeholder="张飞天"
                               th:value="${managerName}"
                               required/>
                    </th>
                </tr>

                <tr>
                    <th id="basic-addon3">绑定手机号</th>
                    <th>
                        <input id="managerPhoneNumber" name="managerPhoneNumber" type="tel" placeholder="188888888888"
                               th:value="${managerPhoneNumber}" required/>
                        <button type="submit" style="width:190px;" name="action" th:text="${sendSMS}">获取验证码</button>
                    </th>
                </tr>
                <br/>

                <tr>
                    <th id="basic-addon4">验证码</th>
                    </th>
                    <th>
                        <input id="verify_code" name="verifyCode" type="text" placeholder="验证码"
                               aria-describedby="basic-addon2"/>
                    </th>
                </tr>
                <br/>
                <tr>
                    <th colspan="2">
                        <button type="submit" style="width:190px;" name="action" value="step1">申请验证（进入一下步）</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</form>
</body>
</html>